/* <!-- hero section --> */
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.container {
  width: 80vw;
  margin: auto;
}
/* hero section */
.hero {
  height: 90vh;
  position: relative;
}
.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero > div {
  position: absolute;
  top: 30vh;
  left: 10vw;

  background: rgba(128, 128, 128, 0.379);
  width: 550px;
  padding: 1rem;
  border-radius: 10px;
  color: wheat;
  backdrop-filter: blur(10px);
}
.down {
  font-size: 5rem;
  color: orangered;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: rotate(90deg);
  animation: godown 1s infinite;
}
@keyframes godown {
  0% {
    bottom: 100px;
    left: 50%;
  }
  100% {
    bottom: 10px;
    left: 50%;
  }
}

/* <!-- navbar --> */
nav {
  background: black;
  color: orange;
  position: sticky;
  top: 0;
}
nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  padding: 0.5rem 0;
}
nav ul {
  display: flex;
  gap: 1rem;
}
nav ul li {
  list-style-type: none;
}
/* <!-- paragraph --> */

/* <!-- image --> */

[class^='img'] {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  background: rgba(100, 29, 45, 0.3);
  color: white;
  font-size: 2rem;
  padding: 1.4rem 5rem;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 1rem;
}
.img1 {
  background: url(./laptop-1839876_640.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.img2 {
  background: url(./a.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.img3 {
  background: url(./programming-2115930_640.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.img4 {
  background: url(./matrix-2953869_640.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

footer {
  background: black;
  color: white;
  padding: 4rem;
  text-align: center;
}
